<div class="container">	
		<div class="container">
			<div>
				<h3>Add New User</h3>
			</div>
			<div class="card-body">
                <form class="col-md-8 offset-md-2" name="newUserForm" [formGroup]="newUserForm" (submit)="addNewUser()" >
					<div class="form-group">
                        <label for="UserName">User Id <span class="required"> * </span></label>
                        <input type="text" name="UserId" class="form-control" id="UserId" formControlName="UserId" autocomplete="off" />
                        <div
                            *ngIf="
                                newUserForm.controls.UserId.dirty && !newUserForm.controls.UserId.valid
                            "
                            class="alert alert-danger">
                            <p *ngIf="newUserForm.controls.UserId.errors.required">
                                    UserId is required
                            </p>
                        </div>                        
                    </div>

                    <div class="form-group">
                            <label for="UserName">User Name <span class="required"> * </span></label>
                            <input type="text" name="UserName" class="form-control" id="UserName" formControlName="UserName" autocomplete="off" (change)="checkUniqueUserName()" />
                            <div
                                *ngIf="
                                    newUserForm.controls.UserName.dirty && !newUserForm.controls.UserName.valid
                                "
                                class="alert alert-danger">
                                <p *ngIf="newUserForm.controls.UserName.errors.required">
                                    Username is required
                                </p>
                            </div>
                            <div class="alert alert-danger" *ngIf="uniqueUserName">
                                <p>Username already exist</p>
                            </div>
                        </div>

                    <!-- email-->
                    <div class="form-group">
                        <label for="EmailAddress">Email <span class="required"> * </span></label>
                        <input type="email" name="EmailAddress" class="form-control" id="EmailAddress" formControlName="EmailAddress" autocomplete="off" />
                        <div
                            *ngIf="
                                newUserForm.controls.EmailAddress.dirty && !newUserForm.controls.EmailAddress.valid
                                "
                            class="alert alert-danger">
                        <p *ngIf="newUserForm.controls.Email.errors.required">
                            Email is required
                        </p>
                        </div>                        
                    </div>                   

                    <!-- password-->
                    <div class="form-group">
                        <label for="Password">Password <span class="required"> * </span></label>
                        <input type="password" name="Password" class="form-control" id="Password" autocomplete="off" formControlName="Password" />
                        <div
                            *ngIf="
                                newUserForm.controls.Password.dirty && !newUserForm.controls.Password.valid
                            "
                            class="alert alert-danger"
                        >
                        <p *ngIf="newUserForm.controls.Password.errors.required">
                            Password is required
                        </p>
                        </div>
                    </div>
                    <!-- end of password-->

                    <!-- role list start-->
                    <div class="form-group">
                        <label for="Role">Role <span class="required"> * </span></label>
                        <select name="Role" class="form-control" id="Role" formControlName="Role">
                        <option selected="selected" value="">Please select Role</option>
                        <option *ngFor="let r of roles" value="{{ r }}">{{ r }}</option>
                        </select>
                    </div>
                    <!-- role list end-->

                    <div class="form-group">
                        <input type="button" value="Cancel" class="btn btn-danger" (click)="cancel()" />&nbsp;&nbsp;
                        <input type="submit" value="Add User" class="btn btn-success"
                        />
                    </div>
                    </form>
			</div>
		</div>
	
</div>
